/* src/styles/github-heatmap.css */

.react-calendar-heatmap {
    width: 100%;
}

.react-calendar-heatmap text {
    fill: var(--foreground);
    font-size: 10px;
}

.react-calendar-heatmap rect {
    rx: 3px;
    transition:
        all 0.3s ease,
        transform 0.2s ease;
}

.react-calendar-heatmap rect:hover {
    transform: scale(1.2);
    stroke: white;
    stroke-width: 1px;
}

.react-calendar-heatmap .color-empty {
    fill: #161b22;
}

.react-calendar-heatmap .color-scale-1 {
    fill: #0e4429;
}

.react-calendar-heatmap .color-scale-2 {
    fill: #006d32;
}

.react-calendar-heatmap .color-scale-3 {
    fill: #26a641;
}

.react-calendar-heatmap .color-scale-4 {
    fill: #39d353;
}